.app {
  width: 70%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .slide img {
    width: 100px;
    margin: 0 auto;
  }
}
.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
.upcomingbg{
  background: linear-gradient(to bottom right, #ffbe30 , #ff3e00)!important;
}