#drawer {
   position: relative;
}

#profile_container {
   width: 95%;
   height: auto;
   background: #ffffff;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   border-radius: .5rem;
   -webkit-border-radius: .5rem;
   -moz-border-radius: .5rem;
   -ms-border-radius: .5rem;
   -o-border-radius: .5rem;
}

@media only screen and (max-width:375px) {
   #profile_container {
      width: 90%;
      margin-top: 5rem;
      margin-bottom: 5rem;
   }

   #slideBar {
      width: 80%;
   }
}

@media only screen and (max-width:570px) {
   #profile_container {
      width: 90%;
   }
}


@media only screen and (min-width:1024px) {
   #profile_container {
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
   }
}