/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgba(8, 8, 8, 0.349) ;
  /*Centerslidetextvertically*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}

.swiper-slide:hover {
  cursor: grab;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: contrast(0.70);
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  font-weight: 700;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  /* border-bottom: 1px solid #eee; */
}

.swiper-pagination-bullet::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #fff;
  display: block;
  margin-top: 1.1px;
  z-index: 1;
}

.swiper-pagination-bullet-active {
  /* color: #FFBE30 !important; */
  color: #fff;
  background: transparent;
  font-size: 26px;
  font-weight: 900;
}

.swiper-pagination-bullet-active::after {
  content: '';
  width: 48px;
  height: 5px;
  background: #FFBE30;
  margin-top: 4px;
  display: block;
  z-index: 11;

}

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.37);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.swiper-button-prev:hover {
  color: #fff;
}

.swiper-button-next {
  color: rgba(255, 255, 255, 0.37);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.swiper-button-next:hover {
  color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 5rem;
  left: 0;
  width: 100%;
}

/*  */

#slider_content {
  position: relative;
}

#slider_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  background: rgba(0, 0, 0, 0.274);
  width: 100vw;
  height: 100vh;
}

#banner_content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#bannerAboutBtn {
  background: linear-gradient(to bottom right, #ff3e00, #ffbe30) !important;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#bannerAboutBtn:hover {
  background: linear-gradient(to top left, #ff3e00, #ffbe30) !important;
}

@media only screen and (max-width:372px) {
  .banner_button{
    display: grid;
    grid-gap: 14px;
  }
  .banner_button #bannerStartedBtn{
    margin-left: 0px;
  }
  #banner_content h1{
    font-size: 22px;
    padding: 10px 0px;
  }
}
