.red-more{
transition-delay: 1.1s;
}
.red-more:hover{
    background: linear-gradient(to bottom right, #ffbe30, #ff3e00);
    color: white;
}
/* .custom-btn:after {
    opacity: 0;
    background: -webkit-gradient(linear, left top, right bottom, from(#ffbe30), to(#ff3e00));
    background: -webkit-linear-gradient(top left, #ffbe30, #ff3e00);
    background: -o-linear-gradient(top left, #ffbe30, #ff3e00);
   
} */
