.divider::before,
.divider::after {
   background-color: #cacaca;
}

.menu :where(li)> :where(*:not(ul)) {
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

.hover\:bg-slate-300:hover {
   --tw-bg-opacity: 1;
   background-color: rgb(240, 240, 240);
}

.menu[class*=" p-"] li>*,
.menu[class^="p-"] li>* {
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.menu :where(li:not(.menu-title):not(:empty))> :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):active) {
   --tw-bg-opacity: 1;
   background-color: transparent;
   --tw-text-opacity: 1;
   color: hsl(var(--pc) / var(--tw-text-opacity));
}
#sidebar_User_profile{
   background-image: url('../../asset/userProfileSvg/wave.svg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 280px;
   background-position: center;
}
@media only screen and (max-width:580px){
   #sidebar_User_profile{
      background-image: url('../../asset/userProfileSvg/wave.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 280px;
      background-position: center;
   }
}
@media only screen and (min-width:580px){
   #sidebar_User_profile{
      background-image: url('../../asset/userProfileSvg/wave.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 400px;
      background-position: center;
   }
}
@media only screen and (min-width:1023px){
   #sidebar_User_profile{
      background-image: url('../../asset/userProfileSvg/wave.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 285px;
      background-position: center;
   }
}